*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  list-style: none;
}
.maincontent{
  background-image: url('./assets/yellow-bg.svg');
  width: 100%;
  background-position: 100% 0%;
  background-repeat: no-repeat;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul{
  display: flex;
  padding-right: 90px;

}
nav ul li{
  display: inline-block;
  padding-right: 30px;
}
.writeup{
  display: flex;
}