* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: #E5E5E5;
}
.maincontent {
  height: 100vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}
header h1 {
  font-size: 18px;
  font-family: 'Comfortaa', cursive;
}
nav ul {
  display: none;
}
nav ul li {
  display: inline-block;
  padding-right: 30px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}
nav ul li:hover, .button:hover{
  color: aliceblue;
  transform: scale(0.89);
  transition: 0.5s;
  cursor: pointer;
  background-color: #fdc435;
}
.writeup {
  display: flex;
  align-items: center;
}
.stack {
  text-align: left;
  padding: 10px 20px;
}
.stack h2 {
  color: #fdc435;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
  animation: myAnimation 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes myAnimation {
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
}
.stack h3 {
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;

}
.stack p {
  font-size: 24px;
  font-family: Nunito;
  line-height: 150%;
  margin: 20px 0px;
}
.imageSec {
  display: none;
}
.button{
  padding: 10px 15px;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.button:focus{
  background-color: #fdc435;
}
.linkedin{
  margin-left: 10px;
}

@media(min-width:1024px) {
  .maincontent {
    background: url("./assets/yellow-bg.svg");
    background-repeat: no-repeat;
    background-position: 100% 0%;
  } 
  nav {
    padding: 20px 50px;
  }
  header h1 {
    font-size: 18px;
  }
  nav ul {
    display: flex;
    padding-right: 90px;
  }
  .stack {
    width: 60%;
    text-align: left;
    padding: 10px 50px;
  }
  .stack h3 {
    width: 72%;
  }
  .stack p {
    width: 72%;
  }
  .imageSec {
    display: block;
    width: 40%;
  }
  .image {
    display: block;
    width: 280px;
    height: 420px;
    object-fit: none;
    margin: 0 auto;
  }
}